.modal
  position: relative
  max-width: 700px
  width: 100%
  height: 800px
  padding: 15px 15px 15px 15px
  background: white
  border-radius: 25px
  .top
    display: flex
    align-items: center
    justify-content: flex-end
    margin-bottom: 20px
    background-color: var(--background-col)
  h1
    text-align: center
  .content
    font-size: 1.3rem
    overflow-y: auto
    display: flex
    align-items: center
    flex-direction: column
    img
      max-width: 400px
      width: 100%
      border-radius: 25px

@media screen and (min-width: 320px)
  .modal
    max-width: 270px
    height: 600px
    overflow-y: auto
    .content
      .linkContainer
        box-sizing: content-box
        word-break: break-all
@media screen and (min-width: 375px)
  .modal
    max-width: 300px
    height: 600px
    overflow-y: auto
@media screen and (min-width: 425px)
  .modal
    max-width: 335px
    height: 600px
    overflow-y: auto
@media screen and (min-width: 768px)
  .modal
    max-width: 700px
    height: 800px
